
.exhibit-tileView-body { list-style: none; }
.exhibit-collectionView-group-count { display: none; }


div.app-thumbnail {
   float:      left;
   width:      19.7em;
   height:     16em;
   border:     1px solid #BCB79E;
   background: #F2F2F2;
   padding:    1em;
   margin:     0.3em;
   overflow-y:auto;

}

hr { display: block; height: 1px;
 border: 0; border-top: 1px solid #C50218;
 margin: 1em 0; padding: 0; } 

 .petrosino {
  color: #C50218 !important;
}

.highlight {
  padding: 9px 14px;
  margin-bottom: 14px;
  background-color: #f7f7f9;
  border: 1px solid #e1e1e8;
  border-radius: 4px;
}

ul.share-buttons{
  list-style: none;
  padding: 0;
}

ul.share-buttons li {
  display: inline;
}

.logo {
  padding: 0px 15px !important;
}

/*
 * ul.nav li a, ul.nav li a:visited {
    color: white !important;
}


ul.nav li a:hover, ul.nav li a:active {
    color: white !important;
}

ul.nav li.active a {
    color: white !important;
}
*/

a {
    color: white !important;
}

.table a {
    color: black !important;
}

/* rimosso momentaneamente export tool */
.exhibit-toolboxWidget-button {
    visibility: hidden !important;
}
/* rimosso momentaneamente export tool */



/* smanettamenti NELSON */

.navbar-default {
  background-color: #C50218;
  border-color: #C50218;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
  color: #555;
  background-color: rgba(231, 231, 231, 0.23);
}

h1, h3 {
    color:#C50218;
}

div#intro {
    background: url(../images/altanbg.jpg) center right;
    background-size: 40%;
    background-repeat: no-repeat;
    min-height: 600px;
}

.slogan h1, .slogan h3 {
  position:relative;
  top:200px;
}

.slogan h3 {
  font-size:30px;
  color:#C50218;
}
.slogan h1 {
  color: #C50218;
  font-size: 60px;
  line-height: 60px;
  font-weight: 700;
  /*text-transform: uppercase;*/
}

.slogan {
 text-align:center;
}

div#macrocategorie {
  padding: 10px;
}

div#approfondimenti {
  text-align:center;
  background-color:white;
  color:#C50218;
  margin-bottom:50px;
}

footer a {
    color:#C50218 !important;
}

.jumbotron {
    background:none;
}

span.fa-stack {
  color:#C50218;
  font-size:2em;
}

.fa {
  color:#C50218;
}

button {
  text-align:left !important;
}

div#approfondimenti h2 {
    font-size:2em;
}

div#approfondimenti h1 {
    font-size:5em;
}

.btn-default {
  border-color: #c50218;
}

#macrocategorie a {
  width:100%;
  margin-bottom:40px;
  color:#c50218;
  text-align: left;    
}

.dropdown-menu {
  background-color:#C50218;
}

.dropdown-toggle {
  background-color:#c50218 !important;
}

ul.nav.navbar-nav.dropdown>li>a:hover, .dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus {
  background-color: rgba(231, 231, 231, 0.23) !important;
}

.caret {
  border-top-color: white !important;
  border-bottom-color: white !important;
}

div#scarica, div#scaricatab {
  text-align:center;
}

#macrocategorie .btn.btn-default.btn-lg {
  border-radius: 15px !important;
  white-space: normal;
}

a.btn.btn-default.btn-lg {
  font-size:2.2rem;
}

/** Pagina di dettaglio - Welfare **/
tr td {
  line-height:2em !important;
  font-size:1.2em
}

/*finanza*/
a.finanza {
  color: #55A0C7 !important;
  text-align: left;
}

a.finanza .fa {
  color:#55A0C7;
}

a.finanza .fa-inverse {
  color:white;
}

a.finanza.btn-default {
    border-color: #55A0C7 !important;
}
/*finanza*/

/*welfare*/
a.welfare {
  color: #D66D71 !important;
  text-align: left;
}

a.welfare .fa {
  color:#D66D71;
}

a.welfare .fa-inverse {
  color:white;
}

a.welfare.btn-default {
    border-color: #D66D71 !important;
}

.table-striped-welfare > tbody > tr:nth-child(odd) > td,
.table-striped-welfare > tbody > tr:nth-child(odd) > th {
  background-color: #D66D71;
}
/*welfare*/

/*lavoro*/
a.lavoro {
  color: #50B6A8 !important;
  text-align: left;
}

a.lavoro .fa {
  color:#50B6A8;
}

a.lavoro .fa-inverse {
  color:white;
}

a.lavoro.btn-default {
    border-color: #50B6A8 !important;
}
/*lavoro*/

/*cooperazione*/
a.cooperazione {
  color: #C273C7 !important;
  text-align: left;
}

a.cooperazione .fa {
  color:#C273C7;
}

a.cooperazione .fa-inverse {
  color:white;
}

a.cooperazione.btn-default {
    border-color: #C273C7 !important;
}
/*cooperazione*/


/*cultura*/
a.cultura {
  color: #C4C960 !important;
  text-align: left;
}

a.cultura .fa {
  color:#C4C960;
}

a.cultura .fa-inverse {
  color:white;
}

a.cultura.btn-default {
    border-color: #C4C960 !important;
}
/*cultura*/



/*altra*/
a.altra {
  color: #C50218 !important;
  text-align: left;
}

a.altra .fa {
  color:#C50218;
}

a.altra .fa-inverse {
  color:white;
}

a.altra.btn-default {
    border-color: #C50218 !important;
}
/*altra*/

/*ambiente*/
a.ambiente {
  color: #F3BC52 !important;
  text-align: left;
}

a.ambiente .fa {
  color:#F3BC52;
}

a.ambiente .fa-inverse {
  color:white;
}

a.ambiente.btn-default {
    border-color: #F3BC52 !important;
}
/*ambiente*/

/*tutto*/
a.tutto {
  color: gray !important;
  text-align: left;
}

a.tutto .fa {
  color:gray;
}

a.tutto .fa-inverse {
  color:white;
}

a.tutto.btn-default {
    border-color: gray !important;
}
/*tutto*/

